/lagunagames/LG-Exam-ImageConverterPipeline/LG-Exam-ImageConverterPipeline/bin
/lagunagames/LG-Exam-ImageConverterPipeline/LG-Exam-ImageConverterPipeline/obj
/lagunagames/LG-AssetBundle/Logs
/lagunagames/LG-AssetBundle/obj
